.form {}

.form__input {
  margin-bottom: 25px;
  box-sizing: border-box;
  position: relative;
  max-width: 320px;
  margin: 0 auto 30px;
}

.form__input input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  border-radius: 25px;
  border: none;
  padding: 16.5px 14px;
  background-color: #f1efef;
  margin: 0 auto;
}

.form__button {
  height: 55px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border: 1px solid rgba(158, 158, 158, 0.5);
  color: rgb(0, 0, 0);
  border-radius: 16px;
  background: linear-gradient(rgb(255, 237, 172) 0%, rgb(255, 216, 77) 100%);
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.8;
}

.form__label-name {
  position: absolute;
  top: 55px;
  left: 10px;
  font-size: 14px;
  color: $color-red;
  text-align: left;
  opacity: 0;

  @include vp-767 {
    font-size: 11px;
    line-height: 1.2;
  }
}

.form__label-name.is-error {
  opacity: 1;
}

.form__label-tel {
  position: absolute;
  top: 55px;
  left: 10px;
  text-align: left;
  font-size: 14px;
  opacity: 0;

  @include vp-767 {
    font-size: 11px;
    line-height: 1.2;
  }
}

.form__label-tel.is-error {
  opacity: 1;
}
