.timer {
  padding: 50px 0;
  background-color: $color-shaft;
  color: $color-default-white;
}

.timer__wrapper {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 180px 30px 180px 30px 180px;
  gap: 20px;
  margin-top: 50px;

  @include vp-767 {
    grid-template-columns: 80px 10px 80px 10px 80px;
    gap: 5px;
  }
}

.timer__item {
  font-size: 148px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;

  @include vp-767 {
    font-size: 48px;
  }
}

.timer__title {
  color: $color-gray;
  font-size: 28px;
  text-align: center;
  margin: 0;

  @include vp-767 {
    font-size: 16px;
  }
}

.timer__title--minute {
  grid-row: 2/3;
  grid-column: 3/4;
}

.timer__title--second {
  grid-row: 2/3;
  grid-column: 5/6;
}

.timer__text {
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

.timer__text--color {
  color: $color-mustard;
}

.timer__clients {
  color: $color-mustard;
}

.timer__sub-text {
  max-width: 625px;
  font-size: 14px;
  text-align: left;
  color: $color-light-gray;
  font-weight: 700;
  margin: 30px auto 0;
}

.timer__button {
  display: block;
  background-color: $color-bright-sun;
  border: none;
  border-radius: 15px;
  color: #1d1d1d;
  font-weight: 600;
  height: 48px;
  margin-top: 25px;
  padding: 12px;
  width: 100%;
  max-width: 625px;
  margin: 30px auto 0;
  cursor: pointer;
}
